
<meta charset="utf-8">
# mdiff application


mdiff is a small utility to compare two images and optionnaly to save image difference

## Input/Output data

Required input are

 - two images:

    `-i` or `--in img1.ext1 img2.ext2`

    By default the images are compared using Mean Square Error with 1e-4 epsilon



## Command line Options

- `--o` or `-o filename` : the name where the image difference will be saved.
                       The image format is ignored since the same image format
                       will be used as the required inputs.


- `--metric MSE|RMSE|sMAPE`                : The type of metric used.

- `--epsilon floating_point_epsilon_value` : specifies the accuracy of the comparison.

 <!-- Markdeep: --><style class="fallback">body{visibility:hidden;white-space:pre;font-family:monospace}</style>
 <script src="markdeep.min.js"></script>
 <script src="https://casual-effects.com/markdeep/latest/markdeep.min.js"></script>